@media print {
  @page {
    margin: 17.05mm;
  }
  html{
    height: auto;
    font-size: 14px;
    overflow: visible !important;
    -webkit-print-color-adjust: exact;
  }
  body{
    width: 100%;
    height: auto;
    padding-top: 0;
    zoom: 1;
    overflow: visible !important;
    overflow-x: hidden;
  }
  .page{
    padding-top: 0;
  }
  .page main{
    padding-bottom: 0 !important;
  }
  header,
  footer {
    display: none !important;
  }


  /*top slider*/
  .topPage .mainVisual{
    width: 100%;
  }

  /*top btmBnr*/
  .topPage .btmBannerArea .glide__slide{
    width: 30%;
  }


	
}

@media print and (-ms-high-contrast: none) {
    @page {
        size: A4;
        margin: 12.7mm 7.7mm;
    }

    body {
        zoom: 2.5;
        width: 100%;

 
}

@media print{
    .no_print{
        display: none;
    
	}
	#mainimage{
		
		width:100%;
	
	}
}

    /*firefox frexbox繝舌げ隗｣豸�*/
/*@-moz-document url-prefix() {
    body,
    .breadcrumb,
    .signboard .container,
    .page main,
    .page,
    .signboard,
    .breadcrumb__wrapper,
    .content,
    .content__description, .content__description--box,
    .page--contentAttention, .page--contentWithShadow,
    .page--companyTop .page--contentAttention,
    .page--companyTop .page--contentWithShadow{
      display: block!important;
      
    }
    .page--companyTop .page--contentWithShadow .contentsCard{
     display: inline-block;
     width: 23%;
    }
}*/}